# Ignore VS Code settings folder
.vscode/

# Ignore specific log and CSV files
domain_errors_log.log
domains.csv
extracted_domains-1.csv
extracted_domains.csv
domain_errors_multi.log
.gitignore
pk_urls.log
pk_urls_failures.txt
merged_pk_urls.log
merged_pk_urls_failures.txt
Cloudflare_urls_failures.txt
Cloudflare_urls.log
completed.txt
Crawler_multi_T_state_saving.py
My_Django_Project
info.txt